GLPI_BASE_URL=http://seu-servidor-glpi/glpi
GLPI_APP_TOKEN=seu_app_token_aqui                               # gerado em: Configuração > Geral > API > Adicionar cliente API
GLPI_USER_TOKEN=seu_user_token_aqui                             # gerado em: Perfil do usuário > Configurações remotas > Regenerar token
NEXT_PUBLIC_POLLING_INTERVAL=30000
